doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title Express • TodoMVC
    link(rel="stylesheet", href="/css/base.css")
    link(rel="stylesheet", href="/css/home.css")
    link(rel="stylesheet", href="/css/index.css")
  body
    section.todohome
      header
        h1 todos
      section
        h2 todos helps you get things done
        a.button(href="/login") Sign in
    footer.info
      p Created by #[a(href="https://www.jaredhanson.me") Jared Hanson]
      p Part of #[a(href="https://todomvc.com") TodoMVC]
      p Authentication powered by #[a(href="https://www.passportjs.org") Passport]
